body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}



.container_add {
    padding: 2em;
    background-color: #fff;
    margin: 2em auto;
    max-width: 1400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flash {
    padding: 1em;
    margin-bottom: 1em;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

.flash.warning {
    background-color: #fff3cd;
    color: #856404;
}

.flash.danger {
    background-color: #f8d7da;
    color: #721c24;
}

.flash.info {
    background-color: #d1ecf1;
    color: #0c5460;
}
/* --------------------------------- */

body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

/* .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.jumbotron {
    background-color: #e9ecef;
    padding: 40px;
    border-radius: 8px;
}

.flash {
    margin-top: 20px;
}


.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10%
}

.radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.radio-label input[type="radio"] {
    margin-right: 10px;
}



/* ----- */

.success input {
    border-color: green;
}

.error{
    border-color: red;
 
}


.error small {
    color: red;
}


/* Ensure the SVG container is responsive */
.svg-container {
    width: 100%;          /* Make the container take up the full width of its parent */
    max-width: 100%;      /* Prevent the SVG from exceeding its container's width */
    height: auto;         /* Auto height to maintain aspect ratio */
}

/* Ensure that the SVG within the container scales properly */
.svg-container svg {
    width: 100%;          /* Make the SVG responsive to the container's width */
    height: auto;         /* Maintain the aspect ratio */
    display: block;       /* Remove any extra spacing */
}
