

<div class="container-md container_add mt-4 p-3 border rounded shadow-sm bg-light">
    <div class="row g-3 align-items-center justify-content-around">
        <div class="col-lg-3 col-md-6 mb-0">
            <p class="fw-bold fs-4 text-primary text-center mb-0">Capital Available</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-0">
            <p class="fw-bold fs-4 text-success text-center mb-0">{{ cash.holding_value }}</p>
        </div>
    </div>
</div>


<div class = "table-responsive d-none d-md-block">
<table class="table table-striped table-bordered table-hover" id ="portfolioContent">
    <thead class="table-primary">
        <tr class = "text-center">
            <th class="d-none d-lg-table-cell">#</th>
            <th>Stock Symbol</th>
            <th># Trades</th>
            <th class="d-none d-lg-table-cell">Buy Price</th>
            <th>Volume</th>
            <th>Holding Cost</th>
            <th>Current Price</th>
            <th>% Diff</th>
            <th class="d-none d-lg-table-cell">Stop Loss (-%)</th>
            <th class="d-none d-lg-table-cell">Profit (+%)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for portflio,assets,asset in stocks %}
        {% if assets and asset.ticker != "CASH" %}
        <tr class = "text-center">
            <td class="d-none d-lg-table-cell">{{ loop.index }}</td>
            <td class = "modal_link">{{ asset.ticker }}</td>
            <td >{{ assets.no_of_trades }}</td>
            <td class="d-none d-lg-table-cell">{{ assets.buy_price }}</td>
            <td>{{ assets.no_of_shares }}</td>
            <td>{{ assets.holding_value | round(4) }}</td>
            <td> {{ assets.latest_price | round(4) }} </td>
            <td>
                {% set current_value = ((assets.latest_price | float) * (assets.no_of_shares | float)   | round(4)) %}
                {% set holding_value = (assets.holding_value | float) %}
                {% if current_value and holding_value %}
                    {% set percentage_diff = ((current_value - holding_value) / holding_value) * 100 %}
                    {% if percentage_diff > 0 %}
                        <span style="color: green;">{{ percentage_diff|round(2) }}%</span>
                    {% else %}
                        <span style="color: red;">{{ percentage_diff|round(2) }}%</span>
                    {% endif %}
                {% else %}
                    <span>N/A</span>
                {% endif %}
            </td>

            <td class="d-none d-lg-table-cell">{{ assets.stop_loss }}</td>
            <td class="d-none d-lg-table-cell">{{ assets.cash_out  }}</td>
            <td>
                <button type="button" data-url="{{ url_for('remove_stock', stock_code=asset.ticker,portfolio_id = assets.portfolio_id)}}" class="text-danger remove-stock-btn">Sell</a>
            </td>
        </tr>
        
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>


<!-- CARD FOR SMALL SCREENS  -->

{% for portflio,assets,asset in stocks %}
{% if assets and asset.ticker != "CASH" %}

<uc-modal id = "{{ asset.ticker }}_modal" class="flex">
    <div class="svg-container">
        {{ assets.svg_content | safe }}  
    </div>
</uc-modal>


    <div class="card mb-2 d-md-none">
        <div class="card-body">
            <div class="row border rounded mb-2">
                <div class=" text-center border-bottom border-2 col-12 modal_link pb-1 pt-1">{{ asset.ticker }}</div>
            </div>   


            <div class="row border rounded">

                
                <div class="col-12 border-bottom">
                    <div class="row">
                        <div class="col-7">
                            <div class="card-text pl-2"><strong>Buy Price:</strong></div>
                        </div>
                        <div class="col-5">
                            <div class="card-text"> {{ assets.buy_price }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-bottom">
                    <div class="row">
                        <div class="col-7">
                            <div class="card-text pl-2"><strong>Volume:</strong></div>
                        </div>
                        <div class="col-5">
                            <div class="card-text"> {{ assets.no_of_shares }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-bottom">
                    <div class="row">
                        <div class="col-7">
                            <div class="card-text pl-2"><strong>Latest Px:</strong></div>
                        </div>
                        <div class="col-5">
                            <div class="card-text">  {{ assets.latest_price }} </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-bottom">
                    <div class="row">
                        <div class="col-7">
                            <div class="card-text pl-2"><strong>% Diff:</strong></div>
                        </div>
                        <div class="col-5">
                            <div class="card-text">
                                {% set current_value = (assets.latest_price | float) * (assets.no_of_shares | float) %}
                                {% set holding_value = (assets.holding_value | float) %}
                                {% if current_value and holding_value %}
                                    {% set percentage_diff = ((current_value - holding_value) / holding_value) * 100 %}
                                    {% if percentage_diff > 0 %}
                                        <span style="color: green;">{{ percentage_diff|round(2) }}%</span>
                                    {% else %}
                                        <span style="color: red;">{{ percentage_diff|round(2) }}%</span>
                                    {% endif %}
                                {% else %}
                                    <span>N/A</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div> 



                <div class="col-12 border-bottom">
                    <div class="row">
                        <div class="col-7">
                            <div class="card-text pl-2"><strong>Stop Loss Px:</strong></div>
                        </div>
                        <div class="col-5">
                            <div class="card-text">  {{ assets.stop_loss }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-bottom">
                    <div class="row">
                        <div class="col-7">
                            <div class="card-text pl-2"><strong>Profit Px:</strong></div>
                        </div>
                        <div class="col-5">
                            <div class="card-text">  {{ assets.cash_out  }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 border-bottom">
                    <div class="row">
                        <div class="col-7">
                            <div class="card-text pl-2"><strong>Comment:</strong></div>
                        </div>
                        <div class="col-5">
                            <div class="card-text">  {{ assets.comment }}</div>
                        </div>
                    </div>
                </div>


                <div class = "text-center mb-2">
                    <button type="button" data-url="{{ url_for('remove_stock', stock_code=asset.ticker,portfolio_id = assets.portfolio_id)}}" class="text-danger remove-stock-btn">Sell</a>
                </div>

            </div>
        </div>
    </div>
{% endif %}
{% endfor %}




