{% extends "base.html" %}

{% block title %}Dashboard - Portfolio Manager{% endblock %}
{% block content %}
<h1 class="fs-0 fs-1 fs-sm-2 fs-md-3 fs-lg-4 d-flex d-block justify-content-center align-items-center">
    <span class = "d-none d-sm-block" >Portfolio Dashboard</span>
    <span class = "d-block d-sm-none" >Dashboard</span>
</h1>
<div class="container-sm container_add mt-2">
        <div class="row g-3 align-items-center">

            <div class="col-md-9 col-xs-12 d-flex d-md-block justify-content-center align-items-center">
                <span class =  "d-none d-sm-block" >Welcome, {{ current_user.username }}</span>
                <span class = "d-block d-sm-none">{{ current_user.username }}</span>
            </div>
            

 
            <div class="col-md-3 col-xs-12 d-flex  justify-content-center align-items-center">
                <div class="form-check form-switch">
                    <label class="form-check-label ml-5" for="yahooFinance">
                        <input class="form-check-input" type="checkbox" id="yahooFinance" name="yahooFinance">
                        Y! - Refresh
                    </label>                
                </div>
            </div>

        </div>
        
        <div class="row g-3 align-items-center mt-2">

            <div class="col-md-10">
                <!-- <input type="text" class="form-control" name="stock_code" placeholder="Stock Code" required> -->
                <select title="portfolio" id="portfolioList" class="form-control" name="portfolio_id" data-live-search="true">
                    {% for portfolio in portfolios  %}
                        <option> {{portfolio.portfolio_desc}} </option> 
                    {% endfor %}
                </select>                
            </div>

            <div class="col-md-2  d-flex justify-content-center align-items-center">    
                <div id="refreshButton" data-url="{{ url_for('get_portfolio_assets') }}" class="btn btn-primary w-100">
                    Search
                </div>
            </div>
        </div>
        
        <!-- <div class="row g-3 align-items-center mt-2">
            <div class="col-lg-3 col-md-12">    
                <a href="{{ url_for('dashboard_2', yf_flag='on') }}" class="btn btn-primary w-100">
                Refresh Prices!
                </a>
            </div>
        </div> -->
        

</div>

    <div class="container container_add mt-2">
    
        <form  id = "addStockForm">
            <div class="row g-3 align-items-center mb-3">
                <div class="col-lg-6 col-md-12">
                    <!-- <input type="text" class="form-control" name="stock_code" placeholder="Stock Code" required> -->
                    <select title="stock" id="stockDropdown"  data-url="{{ url_for('get_bid_offer') }}" class="form-control select2" name="stock_code" data-live-search="true">
                        
                        <option value="" disabled selected>Ticker</option><!-- Default option -->
                       
                    </select>                
                </div>
                <div class="col-lg-6 col-md-12">
                    <input type="text" id="comment" class="form-control" name="comment" placeholder="Comment" required>
                </div>

                
            </div>
            
            <div class="row g-3 align-items-center mb-3">
                <div class="col-lg-3 col-md-6">
                    <input type="text" id="stopLoss" class="form-control" name="stop_loss" placeholder="Stop Loss (%)" required value="5" disabled>
                </div>

                <div class="col-lg-3 col-md-6">
                    <input type="text" id="cashOut" class="form-control" name="cash_out" placeholder="Profit Margin (%)" required  value="10" disabled>
                </div>

                <div class="col-lg-3 col-md-6">
                    <input type="text" id="buyPrice" class="form-control" name="buy_price" placeholder="Buy / Sell Price" >
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <input type="text" id="noOfShares" class="form-control" name="no_of_shares" placeholder="Volume" required>
                </div>
               
            </div>
            
            <div class="row g-3 align-items-center">
                <div class="col-lg-4 col-md-4">
                    <button type="button" id="addStockButton" class="btn btn-dark w-100 ">Buy</button>
                </div>

                <div class="col-lg-4 col-md-4">
                    <button type="button" id="sellStockButton" class="btn btn-secondary w-100">Sell</button>
                </div>
                <div class="col-lg-4 col-md-4">
                    <button type="button" id="refreshStockButton" class="btn btn-info w-100">Refresh Price</button>
                </div>
            </div>
            
        </form>
        
    </div>
    <!-- Alert For JSON Response  -->
    <div class="alert fade show d-none" role="alert" id = "alert">
        <span id = "alertMessage"></span>
        <button type="button" class="close"  aria-label="Close" id="alertCloseButton">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <div id = "tableSection">
            


    </div>


<br>
<br>





{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<!-- Search on Dropdown -->
<!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->

{% endblock scripts %}
