{% extends "base.html" %}
{% block title %}Portfolio Manager{% endblock %}
{% block content %}
<h1>Sign Up</h1>
<form method="POST" action="{{ url_for('forms') }}">
    {{ form.hidden_tag() }}
    
    <div class="form-floating mb-3">
        {{ form.name(class="form-control") }}
        {{ form.name.label}}
    </div>

    <div class="form-floating mb-3">
        {{ form.dob(class="form-control" ) }}
        {{ form.dob.label}} 
    </div>

    
    <div class="container">
        {{form.gender.label}}
    <div class="radio-group">
        
        {% for subfield in form.gender %}
            <label class="radio-label">
                {{ subfield }}
                {{ subfield.label.text }}
            </label>
        {% endfor %}
    </div>
    </div>
    <!-- <div class="container">
        {{form.gender.label}}
        {{form.gender (class="form-check form-check-inline ")}} 
    </div> -->

    

    <div class="form-floating mb-3">
        {{ form.email(class="form-control") }}
        {{ form.email.label}} 
    
    </div>

    

    <div class="form-floating mb-3">
        {{ form.password(class="form-control") }}
        {{ form.password.label}} 
    </div>
    
    <div class="form-floating mb-3">
        {{ form.fav_color}}
        
    </div>

    <div class="form-floating mb-3">
    <!-- {{ form.submit.label}}  -->
        {{ form.submit (class="btn btn-primary ") }}
    </div>

</form>
{% endblock %}
