{% extends "base.html" %}
{% block title %}Login - Portfolio Manager{% endblock %}
{% block content %}
<h1 class="h3 h2-sm h1-md d-flex d-block justify-content-center align-items-center">Login</h1>

<div class="container-sm container_add mt-4" id="signup-section">

    <form method="POST" autocomplete="off" action="{{ url_for('login') }}">
        <div class="row g-3 align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" autocomplete="off">
                    <label for="email">Email address</label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" autocomplete="off">
                    <label for="password">Password</label>
                </div>            
            </div>

        </div>

            <br>
        <div class="row g-3 align-items-center">
            <div class="col-lg-6 col-md-12">
            </div>

            <div class="col-lg-6 col-md-12">
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock scripts %}