
<table class="table table-striped table-bordered" id="portfolioContent">
        <thead class="table-primary">
            <tr>
                <th class="d-none d-lg-table-cell">#</th>
                <th class="d-none d-lg-table-cell">Prtfolio ID</th>
                <th>Portfolio Name</th>
                <th class="d-none d-lg-table-cell">Total Investments</th>
                <th class="d-none d-lg-table-cell">Total Trades</th>
                <th>Total Assets</th>
                <th>Total Cash</th>
                <th class="d-none d-md-table-cell"></th>
            </tr>

        </thead>
        <tbody>
           
       
{% for id, desc, total_investments, total_trades, sum_holdings, sum_cash in portfolios %}
<tr>
    <td class="d-none d-lg-table-cell">{{ loop.index }}</td>  <!-- Loop index to display row number -->
    <td class="d-none d-lg-table-cell">{{ id }}</td>
    <td>{{ desc }}</td>
    <td class="d-none d-lg-table-cell">{{ total_investments }}</td> 
    <td class="d-none d-lg-table-cell">{{ total_trades }}</td> 
    <td>{{ sum_holdings  | round(4)  }}</td> 
    <td>{{ sum_cash  | round(4) }}</td> 
    <td class="d-none d-md-table-cell"> 
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#details-{{ id }}" aria-expanded="false" aria-controls="details-{{ id }}">
            Details
        </button>
    </td>
</tr>

<!-- New row for the button, visible only on SMALL screens -->
<tr class="d-md-none"> <!-- This row will be displayed only on small screens -->
    <td colspan="8">
        <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#details-{{ id }}" aria-expanded="false" aria-controls="details-{{ id }}">
            Details
        </button>
    </td>
</tr>

<!-- Accordion details for each portfolio -->
<tr class="collapse" id="details-{{ id }}">
    <td colspan="8">
        <div class="accordion" id="accordion-{{ id }}">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Portfolio Assets for {{ desc }}</h5>
                </div>
                <div class="card-body">
                    <div class = "table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class = "table-success">
                                <tr>
                                    <th >Ticker</th>
                                    <th class="d-none d-md-table-cell">No. of Trades</th>
                                    <th class="d-none d-sm-table-cell">Industry</th>
                                    <th>Holding Value</th>
                                    <th>Weighting</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Loop through all_details to show assets for the current portfolio -->
                                {% for detail in all_details %}
                                    {% if detail.portfolio_id == id %}
                                        <tr>

                                            <td>{{ detail.ticker }}</td>
                                            <td class="d-none d-md-table-cell" >{{ detail.no_of_trades }}</td>
                                            <td class="d-none d-sm-table-cell">{{ detail.industry }}</td>
                                            <td>{{ detail.holding_value  | round(4) }}</td>
                                            <td>
                                                {% set total_value = sum_cash + sum_holdings %}
                                                {% if total_value != 0 %}
                                                    {{ ((detail.holding_value / total_value)*100) | round(4) }}%  <!-- added the sign after the calc -->
                                                {% else %}
                                                    N/A
                                                {% endif %}
                                            </td>
                                        </tr>

                                        

                                    {% endif %}
                                
                                {% endfor %}
                            </tbody>
                            <tr>
                                {% set total_value = sum_cash + sum_holdings %}
                                <td></td>
                                <td class="d-none d-md-table-cell" ></td>
                                <td class="d-none d-sm-table-cell"></td>
                                <td> {{total_value}}</td>
                                <td>100%</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
{% endfor %}

</tbody>
</table>
